/* .detailRC {
  display: flex;
  
} */
.d-flex {
  justify-content: space-between;
  align-items: center;
}
.textDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0px 0px 20px;
}
.imgContainer {
  /* width: 100%; */
  display: grid;
  place-items: center;
}
.imgContainer img {
  width: 100%;
}
.textDetail h2 {
  color: var(--grey);
}
.textDetail p {
  line-height: 30px;
  color: var(--grey);
}

.mRight {
  margin-right: 10px !important;
}

@media (max-width: 640px) {
  .textDetail {
    padding: 0px;
  }
  .buttonRes {
    display: flex;
    flex-direction: column;
  }
}
