.heroSection {
	width: 100%;
	height: calc(100vh - 80px);
	justify-content: flex-start;
	align-items: center;
}

.heroSection .text {
	width: 100%;
	z-index: 1;
}
.heroSection .text h1 {
	width: 100%;
}
.heroSection .text p {
	margin-top: 20px;
	width: 70%;
	text-align: justify;
}

.heroSection .img {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.heroSection .img img {
	height: 400px;
}
.heroSection .btnHolder {
	display: none;
}

/* Screensize - iPad */
@media screen and (max-width: 1080px) {
	.heroSection {
		flex-direction: column-reverse;
		justify-content: center;
		height: calc(100vh - 80px);
	}
	.heroSection .text {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		z-index: 1;
		margin-top: 20px;
	}

	.heroSection .text p {
		width: 80%;
		text-align: center;
	}

	.heroSection .btnHolder {
		margin-top: 20px;
		display: block;
	}

	.heroSection .img {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.heroSection .img img {
		height: 300px;
	}
}

/* Screensize - Mobile */
@media screen and (max-width: 640px) {
	.heroSection {
		height: calc(100vh - 80px);
	}
	.heroSection .text {
		margin-top: 10px;
	}

	.heroSection .text p {
		margin-top: 10px;
		width: 100%;
		text-align: justify;
	}

	.heroSection .btnHolder {
		margin-top: 10px;
		display: block;
	}

	.heroSection .img img {
		height: auto;
		width: 250px;
	}
}
