.footer {
	width: 100%;
	background-color: var(--dark);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--light);
	padding: 50px 120px;
}
.socials {
	display: flex;
	list-style-type: none;
	width: 50%;
	justify-content: space-around;
}
.social {
	text-decoration: none;
	font-size: 36px;
	color: var(--light);
	transition: all 200ms;
	padding: 20px 50px;
}

.social:hover {
	color: var(--yellow);
	transform: translateY(-5px) scale(1.2);
}

.branding {
	margin: 50px 0;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon img {
	width: 80px;
}

.info {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.info img {
	width: 200px;
}

.link {
	font-weight: 500;
	margin-top: 2px;
	transition: all 200ms ease-in-out;
}

.link:hover {
	color: var(--yellow);
}

@media screen and (max-width: 768px) {
	.footer {
		padding: 50px 30px;
	}
	.socials {
		width: 90%;
	}
	.social {
		padding: 5px;
	}
}

@media screen and (max-width: 640px) {
	.branding {
		width: 100%;
	}
	.icon img {
		width: 50px;
	}

	.info {
		margin-left: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.info img {
		width: 120px;
	}
	.link {
		font-size: 12px;
	}
	.social {
		font-size: 28px;
	}
}
