.card {
	width: 30%;
	background-color: var(--light);
	padding: 30px 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 2px 20px 0px #7289da38, -0.5px -0.5px 1px 0px #fcfcfc inset,
		1px 1px 1px 0px rgba(114, 137, 218, 0.02);
	border-radius: 8px;
	margin: 10px;
	height: fit-content;
	transition: all 200ms ease-in-out;
}
.card:hover {
	transform: scale(1.05);
}
.card .title {
	width: 100%;
	margin-top: 20px;
	text-align: center;
	font-size: 22px;
	font-weight: 700;
}

.card .title span {
	width: 100%;
}
.card .content {
	width: 100%;
	margin-top: 20px;
	text-align: center;
}

.card .icon {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.card .icon img {
	width: 64px;
}

/* Tablet CSS */
@media screen and (max-width: 1250px) {
	.card {
		width: 45%;
		padding: 20px 40px;
		justify-content: space-evenly;
	}
	.card .icon img {
		width: 52px;
	}
	.card .title {
		font-size: 18px;
	}
	.card .title span {
		width: 70%;
	}
}

/* Mobile CSS */
@media screen and (max-width: 700px) {
	.card {
		width: 100%;
		padding: 20px 30px;
		justify-content: center;
		margin: 5px;
	}
	.card .title {
		font-size: 18px;
	}
	.card .title span {
		width: 80%;
	}
	.card .icon img {
		width: 42px;
	}
}
