.membershipCard {
	height: 220px;
	width: 25%;
	padding: 20px 30px;
	border-radius: 4px;
	background: var(--blue-600);
	box-shadow: 0px 0px 8px #26263a;
	margin: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 200ms ease-in-out;
}

.membershipCard:hover {
	box-shadow: 0px 0px 12px #26263a;
	transform: scale(1.02);
}

.membershipCard img {
	width: 72px;
	margin: 5px;
}
.membershipCard span {
	margin-top: 15px;
	font-size: 22px;
	text-align: center;
}

/* Tablet CSS */
@media screen and (max-width: 1080px) {
	.membershipCard {
		height: fit-content;
		width: 45%;
		padding: 30px 20px;
	}

	.membershipCard img {
		width: 64px;
	}
	.membershipCard span {
		font-size: 16px;
	}
}

/* Mobile CSS */
@media screen and (max-width: 720px) {
	.membershipCard {
		width: 100%;
		margin: 10px 0;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.membershipCard img {
		width: 52px;
		margin: 0px;
	}
	.membershipCard span {
		margin-top: 0px;
		font-size: 16px;
		text-align: left;
	}
}
