.card {
	background-color: var(--blue-600);
	color: var(--light);
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	padding: 20px;
	margin: 10px;
	width: 380px;
	transition: all 0.2s ease-in-out;
}
.card:hover {
	/* transform: scale(1.01); */
	box-shadow: 0 0 15px rgba(39, 39, 39, 0.486);
}
.card .visible {
	display: flex;
	flex: 1;
	width: 100%;
	justify-content: space-between;
}
.card .visible .info {
	display: flex;
	flex-direction: column;
}

.card .visible .info .image {
	width: 250px;
	height: 250px;
}

.card .visible .info .image img {
	object-fit: cover;
	border-radius: 4px;
	width: 100%;
}

.card .visible .info .name {
	margin-top: 16px;
	font-size: 24px;
	font-weight: 700;
}

.card .visible .info .hashtag {
	display: none;
	margin-top: 2px;
	font-style: italic;
	font-size: 20px;
	font-weight: 700;
	color: var(--blue);
}

.card .visible .icons {
	display: flex;
	flex-direction: column;
	margin-left: 24px;
}

.card .hidden {
	display: none;
	margin-top: 12px;
	text-align: center;
	font-style: italic;
	padding: 12px 8px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 600;
	color: var(--light);
	background: var(--blue);
}

@media screen and (max-width: 768px) {
	.card {
		width: 300px;
	}

	.card .visible .info .image {
		width: 180px;
		height: 180px;
	}

	.card .hidden {
		font-size: 14px;
		font-weight: 600;
	}
}
@media screen and (max-width: 640px) {
	.card {
		width: 320px;
	}

	.card .hidden {
		font-size: 14px;
		font-weight: 600;
	}
}
